<!DOCTYPE html>
<html>
<head>
    <title>Livres</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h1>Livres</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            {% for livre in livres %}
                <tr>
                    <td>{{ livre.id }}</td>
                    <td>{{ livre.title }}</td>
                    <td>{{ livre.author }}</td>
                    <td>{{ livre.genre }}</td>
                    <td>{{ livre.price }}</td>
                    <td>{{ livre.available}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>